<div class="container"  ng-controller="NameListController as nameList">

  <div class="jumbotron">
    <div class="text-center">
      <h2>Zijn jullie altijd ruzie aan het maken wie er bier moet halen?</h2>
      <p>
        Daar is nu een oplossing voor! Vul de namen in die meedoen, en er zal
        een willekeurige naam worden gekozen die de pineut is!
      </p>
    </div>
  </div>

  <div class="col-md-12">

    <div class="col-md-5">

      <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">Vul de namen in</div>
        <div class="panel-body">
          <p>
            Vul hieronder de namen die meedoen in. Klik vervolgens op start
            om de willekeurige selectie te starten.
          </p>
          <form class="form-inline" ng-submit="nameList.addName()">
            <div class="form-group">
              <input type="text" class="form-control" ng-model="nameList.nameText"  size="30"
                   placeholder="Voeg een nieuwe naam toe">
                   <input class="btn btn-default" type="submit" value="Toevoegen">
            </div>
          </form>
        </div>

        <!-- Table -->
        <table class="table">
          <thead>
              <th>Personen die meedoen</th>
          </thead>
          <tbody>
              <tr ng-repeat="name in nameList.names">
                <td>{{name.text}}</td>
              </tr>
          </tbody>
        </table>

      </div>

    </div>

    <div class="col-md-7">
      <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">
          Wie zal de pineut zijn?
          <button class="btn btn-default" ng-click="nameList.startRandomDraw()">Start</button>
        </div>
        <div class="panel-body">
            <div class="text-center" ng-repeat="name in nameList.participants">
                <h4>
                  <span ng-class="{ 'fade-in-out' : true , 'screwed': name.screwed}">{{name.text}}</span>
                </h4>
            </div>
        </div>
      </div>
    </div>

  </div>

</div>
